spring:
  profiles:
    active: local
  datasource:
    url: ${datasource}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${username}
    password: ${password}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.spatial.dialect.mysql.MySQL8SpatialDialect

  sql:
    init:
      mode: always
      data-locations: classpath:sql/data.sql

#server:
#  port: 80

logging.level:
  org.hibernate.SQL: debug
  com.airbnb: debug
